* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

/*--------------------------- HEADER ------------------------- */

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 30px;
}

.header {
  max-width: 1440px;
  margin: 0 auto;
  background: url("../images/header-bg.svg") center no-repeat;
  background-size: cover;
  padding-top: 20px;
  position: relative;
}
.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
}

.header__title h1 {
  padding: 0 240px;
  margin-top: 120px;
  font-weight: 400;
  text-align: center;
  font-size: 54px;
  line-height: 68px;
  letter-spacing: 0.54px;
  color: white;
}
.header__btn {
  text-align: center;
  margin-top: 50px;
}
.header__button {
  padding: 10px 18px 12px;
  background-color: #0c4a34;
  color: white;
  border-radius: 4px;
}

.hvr-back-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-back-pulse:hover,
.hvr-back-pulse:focus,
.hvr-back-pulse:active {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #2098d1;
  background-color: #2098d1;
  color: white;
}

.header__end {
  margin-top: 115px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.header__end-p2 {
  margin-left: 10px;
  transition: 0.5s linear;
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  top: 18px;
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  background: #fdfefe;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.header__end-arrow::after {
  content: url(../images/arrow.svg);
  margin-left: 5px;
}
.header__end-box {
  position: absolute;
  right: 50px;
  bottom: 50px;
  background-color: #497557;
  border-radius: 4px;
  margin-bottom: 15px;
}
.header__end-box h5 {
  color: white;
  font-weight: 400;
  font-size: 16px;
  padding: 33px 98px 0 24px;
  margin-bottom: 8px;
}
.header__end-box p {
  padding: 0 53px 0 24px;
  max-width: 300px;
  font-weight: 400;
  color: white;
  font-size: 14px;
  margin-bottom: 14px;
}
.header__end-box button {
  margin-left: 24px;
  margin-bottom: 10px;
  border-radius: 4px;
  font-weight: 400;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  padding: 13px 18px;
}
.hvr-backward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-backward:hover,
.hvr-backward:focus,
.hvr-backward:active {
  -webkit-transform: translateX(-8px);
  transform: translateX(-8px);
}

.nav {
  font-size: 14px;
  margin-left: 340px;
}
.nav__link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: 42px;
  color: white;
  transition: color 0.3s linear;
}
.nav__link::after {
  position: absolute;
  margin-left: 15px;
  content: url(/images/vector.svg);
  z-index: 1;
}
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.nav__button-1 {
  padding: 8px 16px 9px;
  margin-left: 49px;
  border-radius: 4px;
  opacity: 2px;
  color: white;
  background: rgba(255, 255, 255, 0.2);
}
.nav__button-2 {
  padding: 8px 16px 9px;
  margin-left: 14px;
  border-radius: 4px;
  background-color: #0c4a34;
}
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  border-radius: 4px;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098d1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.hvr-sweep-to-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-left:before {
  border-radius: 4px;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098d1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-left:hover,
.hvr-sweep-to-left:focus,
.hvr-sweep-to-left:active {
  color: white;
}
.hvr-sweep-to-left:hover:before,
.hvr-sweep-to-left:focus:before,
.hvr-sweep-to-left:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*-------------------------- HEADER END -------------------------- */

/*--------------------------- WHY ALMA --------------------------- */

.border-top {
  border-top: #f0efec 1px solid;
  width: 100%;
}
.main {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.main__network {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__holder-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #497557;
}
.main__network-p {
  padding-left: 0;
  color: #5b5855;
  width: 15%;
  font-size: 14px;
}
.main__network-logo {
  margin-left: 29px;
}

.main__title {
  margin-top: 10px;
  max-width: 333px;
  font-weight: 400;
  font-size: 38px;
  line-height: 51px;
  letter-spacing: 0.152px;
  color: #02291c;
}

.main__holder {
  padding-top: 63px;
  height: 100vh;
  transition: 0.2s linear;
}
.main__card {
  margin-top: 20px;
}
.main__cards {
  background-color: #f9f9f7;
  border-radius: 4px;
  position: relative;
  transition: 0.2s linear;
  cursor: pointer;
}
.main__cards:hover {
  background-color: #dce3dd;
}
.main__cards-title {
  padding: 21px 149px 0 49px;
  margin-left: 15px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #02291c;
}

.main__card-info {
  margin-left: 15px;
  padding-left: 49px;
  padding-bottom: 22px;
  margin-top: 16px;
  max-width: 308px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #5b5855;
}
.main__card-icon-document {
  height: 155px;
}
.main__card-icon-document::after {
  content: url("../images/icon-1.svg");
  position: absolute;
  top: 24px;
  left: 25px;
}

.main__card-icon-support {
  margin-top: 12px;
  padding: 21px 146px 27px 59px;
  background-color: #f9f9f7;
  border-radius: 4px;
  position: relative;
}
.main__card-icon-support::after {
  content: url("../images/icon-2.svg");
  position: absolute;
  top: 24.71px;
  left: 24.62px;
}

.main__card-icon-message {
  padding: 21px 136px 27px 59px;
  margin-top: 12px;
  background: #f9f9f7;
  border-radius: 4px;
  position: relative;
}

.main__card-icon-message::after {
  content: url("../images/icon-3.svg");
  position: absolute;
  top: 23px;
  left: 28.75px;
}

.main__image {
  max-width: 640px;
  height: 450px;
  margin-left: 180px;
}
.main__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*----------------------------- WHY ALMA END--------------------------*/

/*----------------------------- Development ---------------------------*/

.development {
  margin-top: 114px;
  margin: 0 auto;
}

.development__title {
  padding: 0 320px;
  font-weight: 400;
  font-size: 38px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 1px;
  color: #02291c;
  position: relative;
}
.development__title::after {
  content: url("../images/vector-dev.svg");
  right: 455px;
  position: absolute;
  z-index: -1;
}
.development__info {
  margin-top: 38px;
  padding: 0 300px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #5b5855;
}
.development__btn {
  margin-top: 40px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.directory_button {
  font-size: 16px;
  margin-right: 16px;
  width: 178px;
  padding: 14px 18px 13px;
  border: 2px solid #0c4a34;
  border-radius: 4px;
  background-color: #0c4a34;
  color: white;
}
.works_button {
  width: 138px;
  padding: 14px 18px 13px;
  border: 1px solid rgba(91, 88, 85, 0.3);
  border-radius: 4px;
  background-color: white;
  font-weight: 400;
  font-size: 16px;
  color: #0c4a34;
}
/* GRID */

.grid__images {
  padding-top: 100px;
  display: grid;
  grid-template-columns: repeat(5, 150px);
  grid-template-rows: repeat(5, 130px);
  column-gap: 5px;
  row-gap: 5px;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
.img-2 {
  grid-row-start: 1;
  grid-row-end: 3;
}
.img-3 {
  grid-row-start: 1;
  grid-row-end: 3;
}
.img-4 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 4;
}
.img-5 {
  grid-column-start: 7;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
}
.img-6 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 6;
}
.img-7 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 6;
}
.img-8 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 6;
}
.img-9 {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 6;
}
.img-10 {
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 7;
}
.grid__images {
  padding-top: 100px;
  display: grid;
  grid-template-columns: repeat(5, 150px);
  grid-template-rows: repeat(5, 130px);
  column-gap: 5px;
  row-gap: 5px;
}
.grid__images-8 {
  object-fit: cover;
}
.gallery-img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
.img-2 {
  grid-row-start: 1;
  grid-row-end: 3;
}
.img-3 {
  grid-row-start: 1;
  grid-row-end: 3;
}
.img-4 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 4;
}
.img-5 {
  grid-column-start: 7;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
}
.img-6 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 6;
}
.img-7 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 6;
}
.img-8 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 6;
}
.img-9 {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 6;
}
.img-10 {
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 7;
}
.hover-image-scale {
  display: inline-block;
  overflow: hidden; /* Скрываем всё за контуром */
}
.hover-image-scale img {
  transition: 1s; /* Время эффекта */
  display: block;
}
.hover-image-scale img:hover {
  transform: scale(1.2); /* Увеличиваем масштаб */
}
/* QUOTE */

.main__quote {
  display: flex;
  justify-content: center;
}

.quote__container {
  margin-top: 40px;
  max-width: 1312px;
  background-color: #f8f4ef;
  position: relative;
}

.quote__wrapper {
  padding: 53px 272px 50px 272px;
}

.quote__quotes {
  position: absolute;
  left: 236px;
  top: 67px;
}

.quote__text {
  max-width: 751px;
  font-size: 27px;
  line-height: 36px;
  color: #02291c;
}

.quote__copyright {
  margin-top: 36px;
  font-size: 18px;
  line-height: 25px;
  color: #5b5855;
}

.quote__sublink {
  font-size: 18px;
  line-height: 25px;
  color: #5b5855;
}

.quote__link {
  margin-left: 10px;
  font-size: 16px;
  line-height: 25px;
  color: #5b5855;
  text-decoration: underline;
}

.quote__line {
  position: absolute;
  right: 0;
  bottom: 0;
}
/*----------------------------- LICENSE --------------------------*/

.section__provider {
  max-width: 1440px;
  padding: 0 20px;
  margin: 161px auto;
}

.provider__wrapper {
  max-width: 100%;
}
.d-flex {
  display: flex;
  justify-content: space-between;
}
.provider__images {
  position: relative;
  max-width: 50%;
}

.provider_img-dash {
  position: absolute;
  z-index: 2;
}
.provider_img-card {
  position: absolute;
  margin-top: 20px;
  left: 80px;
  z-index: 1;
}
.provider__img-card-2 {
  position: absolute;
  top: 150px;
  left: 20px;
  z-index: 2;
}

.provider__license {
  max-width: 40%;
  margin-top: 43px;
}

.license__title {
  font-weight: 400;
  font-size: 38px;
  line-height: 51px;
  letter-spacing: 0.152px;
  color: #02291c;
}

.license__info {
  margin-top: 17px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #5b5855;
}

.license__input {
  margin-top: 29px;
  border: 2px solid #f0efec;
  width: 430px;
  min-height: 57px;
  border-radius: 2px;
}
.input__after {
  position: relative;
}
.input__after::after {
  content: url("../images/input-after.svg");
  color: green;
  position: absolute;
  max-width: 10%;
  object-fit: cover;
  top: 47px;
  right: 80px;
  cursor: pointer;
}
.license__btn {
  margin-top: 39px;
  padding: 14px 16px 13px 15px;
  background: #0c4a34;
  border: 2px solid #0c4a34;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  transition: 0.4s linear;
}

/*--------------------------- LICENSE END ---------------------------*/

/*--------------------------- LOGIN ----------------------------------*/

.alma__login {
  margin: 0 auto;
  background-color: #f1f3ef;
  padding-bottom: 150px;
}

.log__wrapper {
  text-align: center;
}
.log__subtitle {
  padding-top: 63px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.98px;
  text-transform: uppercase;
  color: #8eb391;
}

.log__title {
  margin-top: 18px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 38px;
  line-height: 51px;
  letter-spacing: 0.152px;
  color: #02291c;
}
.log__info {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #5b5855;
}

.log__border {
  margin: 0 auto;
  margin-top: 63px;
  height: 1px;
  max-width: 964px;
  background-color: #dce3dd;
}

.login__inputs {
  margin: 0 auto;
  max-width: 990px;
  margin-top: 126px;
  padding-left: 50px;
}

.log__names {
  display: flex;
  justify-content: space-between;
}

.log__name-info {
  margin-bottom: 7px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #5b5855;
}

.log__name-input {
  margin-right: 30px;
  border: none;
  border-radius: 4px;
  min-height: 53px;
  width: 430px;
}

.log__emails {
  margin-top: 31px;
  display: flex;
}

.login-state {
  margin-top: 31px;
}
.log__button {
  margin-top: 92px;
  padding: 15px 16px 18px 15px;
  background-color: #0c4a34;
  color: white;
  border: 2px solid #0c4a34;
  border-radius: 4px;
}
.log__button:hover {
  border: 2px solid #2098d1;
}
.login__privacy {
  margin-top: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #02291c;
}

/*-------------------------- LOGIN END --------------------------------*/

/*--------------------------- FOOTER --------------------------------- */

li {
  list-style: none;
}

.footer {
  background-color: #497557;
  background-image: url(/images/Group.png);
  background-repeat: no-repeat;
}

.footer__providers {
  display: flex;
  font-size: 38px;
  line-height: 49px;
  color: #fff;
  justify-content: end;
}

.footer__providers-art {
  width: 28%;
}

.footer__providers-span {
  color: #8eb391;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  padding: 15px 0;
}

.footer__providers-art-mini {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 22px;
  padding: 15px 0;
}

.footer__providers-art-mini-desc {
  padding-right: 16px;
}

.footer__providers-art-mini-link:hover {
  background-color: rgb(255, 0, 81);
}

.footer__featured {
  background: #0c4a34;
}

.footer__featured-wrapper {
  display: flex;
  justify-items: center;
  align-items: center;
}

.footer__featured-text {
  margin-right: 70px;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
}

.footer__featured-text {
  padding: 24px 0 29px;
  width: 10%;
}

.footer__nav {
  background: #02291c;
}

.footer__nav-wrapper {
  padding: 64px 0 43px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer__main-info {
  display: flex;
  flex-direction: column;
}

.footer__socials-wrapper {
  display: flex;
}

.footer__nav-link {
  padding: 5px 0;
  font-size: 16px;
  color: #fff;
  line-height: 22px;
}

.footer__info-link {
  padding: 4px 0;
  font-size: 16px;
  color: #fff;
  line-height: 22px;
}

.footer__socials {
  padding-top: 10px;
  color: #fff;
}

.footer__socials-wrapper {
  padding-top: 10px;
}

.footer__socials-link {
  margin-right: 34px;
}

.footer__leaf {
  padding: 30px 0;
  text-align: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.footer__leaf-info {
  max-width: 474px;
  margin: 0 auto;
  margin-top: 17px;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

.footer__finish {
  padding: 33px 0 63px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.4);
}

.footer__finish-desc {
  max-width: 470px;
}

.footer__finish-info {
  display: flex;
}

.footer__finish-desc-link {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.footer__finish-info p {
  padding-left: 10px;
}

/*------------------------- FOOTER END --------------------------------*/

/*------------------------- ANIMATION --------------------------------*/

@-webkit-keyframes hvr-back-pulse {
  50% {
    background-color: rgba(32, 152, 209, 0.75);
  }
}
@keyframes hvr-back-pulse {
  50% {
    background-color: rgba(32, 152, 209, 0.75);
  }
}

/*--------------------------- ANIMATION END ----------------------------*/
